@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    box-sizing: inherit;
    font-size: 16px;
}

.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.navlist{
    display: flex;
    gap: 3.5rem;
    /* background: black; */
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navlist li{
    list-style:none;
}

.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    position: relative;
}

.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.left-container{
    /* background: #262525; */
    background: linear-gradient(-45deg, #5d80cc, black 60%);
    width: 100%;
    padding: left 3rem; 
}

.right-container{
    /* background: linear-gradient(-50deg, #5d80cc, black 70%); */
    width: 0%;
}

.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
    margin-right: 4rem;
    justify-content: left(100px);
}

.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.content{
    margin-left: 4rem;
}

.content .intro{
    font-size: 1.5rem;
    color: #fff;
}

.content .intro span{
    color: skyblue;
}

.content h1{
    font-size: 4rem;
    color: skyblue;
}

.content .detail{
    font-size: 1.1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}

.btn-container button{
    border: .1rem solid skyblue;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s ease;
    margin-left: 3rem;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

button:nth-child(1):hover{
    background: skyblue;
    color: black;
}

button:nth-child(2){
    background: transparent;
    color: skyblue;
    margin-left: 2rem;
}

button:nth-child(2):hover{
    background: skyblue;
    color: black;
}

.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(2){
    background-image: url(./image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: .1rem solid white;
    box-shadow: 
    0 0 1rem #080808,
    inset 0 0 2rem #e5e2e2,
    0 0 2rem rgb(9, 10, 10),
    inset 0 0 2rem rgb(21, 22, 23),
    0 0 4rem rgb(20, 22, 23),
    inset 0 0 4rem rgb(23, 24, 25);
     height: auto;
     width: 600px;
}

.navlist li a::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}

.navlist li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.detail{
    font-family: cursive;
}



 
