body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ce8787;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

form {
    background: #fff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background: #7eff83;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #6ff375;
}